<div class="hero">
   <div class="hero-inner">

      <div class="hero-copy">
        <div class="display"> <h1>All Your Subscriptions, in one place</h1></div>
         <p>Automatically detect and scan for the services that you pay for on a recurring basis. Set bill dates and reminders for your upcoming subscriptions.</p>  
         
      </div>
   </div>
</div>