<div class="home-wrapper">
  <div class="hero">
     <div class="hero-inner">
        <div class="hero-copy">
          <div class="display"> <h1>All Your Subscriptions, in one place</h1></div>
           <p>Automatically detect and scan for the services that you pay for on a recurring basis. Set bill dates and reminders for your upcoming subscriptions.</p>     
        </div>
     </div>
  </div>
  <div class="spacer"></div>
    <div class="device-background">
      <div class="device-text">
        <h4>Text about App or Device</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.</p>
      </div>
     <div class="macbook-pro-wrapper">
       <div class="md-macbook-pro md-glare">
         <div class="md-lid">
             <div class="md-camera"></div>
             <div class="md-screen">
          <!-- Your content here -->
             </div>
       </div>
       <div class="md-base"></div>
     </div>
    </div> 
  </div>  
  
<div class="bottom-info">

<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>This Bullet Title</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Last Bullet Title</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </li> 
</ul>
<div class="clear"></div>


