
<div class="hero">
   <div class="hero-inner">

      <div class="hero-copy">
        <div class="display"> <h1>All Your Subscriptions, in one place</h1></div>
         <p>Automatically detect and scan for the services that you pay for on a recurring basis. Set bill dates and reminders for your upcoming subscriptions.</p>  
         
      </div>
   </div>
</div>


   <div class="spacer"></div>

<div class="device-background">
  <div class="device-text">
    <h4>Text about App or Device</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.</p>
  </div>
 </div>

   <div class="macbook-pro-wrapper">
     <div class="md-macbook-pro md-glare">
       <div class="md-lid">
           <div class="md-camera"></div>

           <div class="md-screen">
        <!-- Your content here -->
           </div>

     </div>
     <div class="md-base"></div>
   </div>

      <div class="spacer"></div>


