fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 400;
  margin-bottom: $small-spacing / 1;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;
  padding: 5px;
  

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-right: $small-spacing / 1;
  float: left;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.login-wrapper {
  padding: 10px;
  background-color: rgb(231, 241, 236);
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  label {
    color: green;
  }
  input {
 
    }
}

.field-wrapper {
  float: left;
  width: 200px;
  margin-left: 500px;
  margin-right: 20px;
}

td {

}

.fieldset {
  margin-right: 20px;
}

table tr td {
  border-bottom: 0px;

}

.signup-page-wrapper {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  .signup-header {
  text-align: center;
  margin-top: 26px;
    } 
  input {
 
    }
}

.signup-wrapper {
  width: 300px;
  margin: 50px 0px 0px 575px;
}

#signup-button {
  margin-left: 575px;
}

